
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Morganite-Bold';
    src: url('../font/Morganite-Bold.woff2') format('woff2'),
        url('../font/Morganite-Bold.woff') format('woff'),
        url('../font/Morganite-Bold.ttf') format('truetype');
    font-weight: bold;
    /* font-style: italic; */
    font-display: swap;
}

@font-face {
    font-family: 'Morganite-Black';
    src: url('../font/Morganite-Black.woff2') format('woff2'),
        url('../font/Morganite-Black.woff') format('woff'),
        url('../font/Morganite-Black.ttf') format('truetype');
    font-weight: 900;
    /* font-style: italic; */
    font-display: swap;
}

@font-face {
    font-family: 'Morganite-Light';
    src: url('../font/Morganite-Light.woff2') format('woff2'),
        url('../font/Morganite-Light.woff') format('woff'),
        url('../font/Morganite-Light.ttf') format('truetype');
    font-weight: 300;
    /* font-style: italic; */
    font-display: swap;
}

@font-face {
    font-family: 'Morganite-MediumItalic';
    src: url('../font/Morganite-MediumItalic.woff2') format('woff2'),
        url('../font/Morganite-MediumItalic.woff') format('woff'),
        url('../font/Morganite-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Morganite-Medium';
    src: url('../font/Morganite-Medium.woff2') format('woff2'),
        url('../font/Morganite-Medium.woff') format('woff'),
        url('../font/Morganite-Medium.ttf') format('truetype');
    font-weight: 500;
    /* font-style: italic; */
    font-display: swap;
}