@import url(main.css);

#section04{
    height:100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex
}
  .carousel {
    width: 100%;
    cursor: -webkit-grab;
    cursor: grab;
    position: relative;
  }  
  .carousel::before{
      content: '';
      position: absolute;
      left: 0;
      top:50%;
      transform: translateY(-50%);
      height: 40%;
      background: rgba(255, 255, 255, 0.8);
      width: 1px;
      z-index: 1;
  }
  .carousel::after{
      content: '';
      position: absolute;
      left: 0;
      top:50%;
      transform: translateY(-50%);
      height: 1px;
      border-bottom: 1px dashed #fff;
      width: 100%;
      z-index: -1;
  }

  .carousel.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .carousel--wrap {
    /* white-space: nowrap; */
    display: flex;
    justify-content: space-between;
  }

  .carousel--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;            
  }

  .carousel--item figure {
      flex:1;
      width: 575px;
      height:559px;
  }
  .carousel--item figure img{
      width: 100%;
  }

  .carousel--item .ani-desc{
     z-index: 1;
     flex:1;
     width:450px;
     margin-left:7em;
  }
  .carousel--item .ani-desc h3{
    font-size: 5vw;
    text-transform: uppercase;
    font-family: var(--fMLight);
    letter-spacing: 0.1em;
}
.carousel--item .ani-desc a{
    margin: 3em 0 0.5em ;
   display: block;
   text-transform: uppercase;
   font-family: var(--fMLight);
   font-size: 3vw;
   position: relative;
   letter-spacing: 0.1em;
}
.carousel--item .ani-desc p{
    line-height: 1.5;
    font-family: var(--fGLight);
}

 
  .carousel--progress {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    bottom: 0;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
  .carousel--progress-bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  